<section class="section gray-bg" id="blog">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-7 text-center">
              <div class="section-title">
                  <h2>Latest News</h2>
                  <p>All the latest news about the charity events that are going around the world. Please view and support the nobles causes happening around the world</p>
              </div>
          </div>
      </div>
      <div class="row"  *ngIf="newsList" >
          <div class="col-lg-4"*ngFor="let news of newsList | loopLimiter:newsList:3" style="cursor: pointer;" [routerLink]="['/page/news', news._id]">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">04 FEB</div>
                      <a href="#">
                          <img [src]="news.image | defaultImage:news.image" title="" alt="" style="max-height: 320px;">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">{{news.title}}</a></h5>
                      <p>{{news.subtitle}}</p>
                      <div class="btn-bar">
                          <a href="#" class="px-btn-arrow">
                              <span>Read More</span>
                              <i class="arrow"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-lg-4">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">04 FEB</div>
                      <a href="#">
                          <img src="https://via.placeholder.com/350x280/87CEFA/000000" title="" alt="">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      <div class="btn-bar">
                          <a href="#" class="px-btn-arrow">
                              <span>Read More</span>
                              <i class="arrow"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="blog-grid">
                  <div class="blog-img">
                      <div class="date">04 FEB</div>
                      <a href="#">
                          <img src="https://via.placeholder.com/350x280/FF7F50/000000" title="" alt="">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      <div class="btn-bar">
                          <a href="#" class="px-btn-arrow">
                              <span>Read More</span>
                              <i class="arrow"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</section>
