<div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%" height="600px"></iframe>
</div>
<div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/total-deaths-covid-19?country=ITA+ESP+USA+IND"
    style="width: 100%; height: 600px; border: 0px none;"></iframe>
</div>
<div class="container" style="margin-top: 40px;">
  <iframe
    src="https://ourworldindata.org/grapher/covid-confirmed-cases-since-100th-case?country=USA+ESP+ITA+KOR+TWN+GBR+NOR+IND"
    style="width: 100%; height: 600px; border: 0px none;"></iframe>

</div>
<!-- <div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map&region=Asia" width="100%"
    height="600px"></iframe>

</div> -->
<!-- <div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map&year=59&region=Asia" width="100%"
    height="600px"></iframe>

</div> -->
<!-- <div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/full-list-cumulative-total-tests-per-thousand"
    style="width: 100%; height: 600px; border: 0px none;"></iframe>

</div>


<div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/covid-tests-cases-deaths?country=~IND" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>

</div>

<div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/daily-covid-cases-deaths?country=~IND" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>

</div>

<div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/daily-covid-deaths-7-day?country=~IND" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>

</div>
<div class="container" style="margin-top: 40px;">
  <iframe src="https://ourworldindata.org/grapher/covid-19-tests-vs-cases-positivity-comparisons?country=~IND" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>

</div> -->
