<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content" *ngIf="formLoaded">
    <form [formGroup]="form" (ngSubmit)="submitDiscussion()">
      <div class="modal-header d-flex align-items-center bg-primary text-white">
        <h3 class="modal-title mb-0" id="threadModalLabel">Request Donation</h3>
      </div>
      <div class="modal-body">
        <ckeditor data="<p>Hello, world!</p>" formControlName="body"></ckeditor>
        <div class="error-span" *ngIf="isSubmitted && fvalues.body.errors">
          <div *ngIf="isSubmitted && fvalues.body.errors.required" style="color: red;">*Description is required</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal" (click)="close()">Cancel</button>
        <button type="submit" class="btn btn-primary">Request</button>
      </div>
    </form>
  </div>
</div>
