<div class="col-md-12">

  <div class="row" *ngIf="formLoaded">
    <div class="col-12 col-md-12">
      <div class="col-md-12 text-center contact_margin_svnit ">
        <div class="text-center fh5co_heading py-2">Reset Password</div>
      </div>
      <form class="row" id="fh5co_contact_form" [formGroup]="form" (ngSubmit)="login()">
        <div class="col-12 py-3">
          <input type="email" class="form-control fh5co_contact_text_box" placeholder="New password"
            formControlName="newPassword" />
          <div *ngIf="isFormSubmitted && f.newPassword.errors" class="invalid-feedback valid-error"
            style="font-size: .7rem; color: red; position:absolute;">
            <div *ngIf="f.newPassword.errors.required">*Email is required</div>
          </div>
        </div>
        <div class="col-12 py-3 text-center"> <button class="btn contact_btn" type="submit">Reset Password</button> </div>
      </form>
    </div>
  </div>
</div>
