.about-001 {
  padding: 3.125rem 0;
  position: relative;
  overflow: hidden;
  background: #fafafa;
}

.about-001 .text-part .about-qcard, .about-001 .image-part .about-qcard {
  padding: 50px 30px;
  background-color: #FFF;
  box-shadow: 0 2px 3px 0 rgb(218 218 253 / 35%), 0 0px 3px 0 rgb(206 206 238 / 35%);
  text-align: center;
  margin-bottom: 30px;
}

.about-001 .text-part .about-qcard i, .about-001 .image-part .about-qcard i {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #fd580b;
}

.bg-03 {
  position: relative;
  padding: 3.125rem 0;
  background: #fafafa;
  overflow: hidden;
}

.heading {
  margin: 20px 0px;
  text-align: center;
  position: relative;
  display: block;
}

.heading h2 {
  font-size: 25px;
  color: #222222;
  line-height: 50px;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}

.bg-03 .wrapper .content ol li i {
  font-size: 1.875rem;
  color: #fd580b;
  margin: .625rem 0;
  display: block;
}

.bg-03 .wrapper .content ol li h3 {
  font-size: 1.25rem;
  color: #222222;
  font-weight: 600;
}

.bg-03 .wrapper .content ol li p {
  display: block;
  margin: .625rem 0;
  color: #373738;
  font-size: 1rem;
}

li {
  list-style: none;
  text-align: center;
}
