<section class="about-001">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>ABOUT US</h2>
        </div>
      </div>
    </div>
      <div class="row">
          <div class="text-part col-md-6">
              <h2>About Our Charity</h2>
              <p>We provide a platform for people who are suffering from the pandemic and to provide help by online medium. Join our team to help the needy. </p>

              <p>The objective of this project is to implement a platform which will become
                mediator between helper and the people who is actually needs help and that help
                can be in any kind like food, clothes, shelter and medical awareness. If any person
                is having the capacity to help from their own with any direct and indirect way, they
                can help.</p>
          </div>
          <div class="image-part col-md-6">
              <div class="about-quick-box row">
                  <div class="col-md-6">
                      <div class="about-qcard">
                          <i class="fa fa-user"></i>
                          <p>Become a Volunteer</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="about-qcard ">
                          <i class="fas fa-search-dollar red"></i>
                          <p>Quick Fundraise</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="about-qcard ">
                          <i class="fas fa-donate yell"></i>
                          <p>Give Donation</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="about-qcard ">
                          <i class="fas fa-hands-helping blu"></i>
                          <p>Help Someone</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="bg-03">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>OUR SERVICES</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fas fa-bone"></i>
                <h3>RAISE FUND FOR HEALTHY FOOD</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fa fa-graduation-cap"></i>
                <h3>EDUCATION FOR POOR CHILDREN</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fa fa-child"></i>
                <h3>PROMOTING THE RIGHTS OF CHILDREN</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fas fa-user-md"></i>
                <h3>MASSIVE DONATION TO POOR</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fas fa-hand-holding-heart"></i>
                <h3>HUGE HELP TO HOMELESS PUPIL</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi
                  temporibus, libero,</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fa fa-home"></i>
                <h3>LET’S BUILD SOME HOMES.</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi
                  temporibus, libero,</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fas fa-hand-holding-water"></i>
                <h3>PURE WATER FOR POOR PEOPLE</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi
                  temporibus, libero,</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fa fa-heartbeat"></i>
                <h3>MEDICAL FACILITIES</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi
                  temporibus,</p>
              </li>
            </ol>
          </div>
        </div>
      </div>

       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="wrapper">
          <div class="content">
            <ol>
              <li>
                <i class="fa fa-child"></i>
                <h3>PROMOTING THE RIGHTS OF CHILDREN</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla hic deserunt facere et animi</p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
